body {
  background-color: rgb(26, 15, 128);
  color: rgb(198, 255, 123);
  font-family: sans-serif;
  padding: 15px;
}

h1 {
  font-size: 2em;
  padding: 5px;
}

h2 {
  font-size: 1.5;
  text-decoration: underline;
  padding: 5px;
}

ul li {
  padding: 5px;
  margin-left: 35px;
  list-style-type: circle;
}

ol li {
  padding: 5px;
  margin-left: 35px;
  list-style-type: decimal;
}